PORT=5002
NODE_ENV=development
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/creator_contest_admin_db?schema=public
USER_SERVICE_URL=http://localhost:5001
INTERNAL_SERVICE_SECRET=internal-secret-token-creator-contest
